{% extends 'base.html.twig' %}

{% block title %}Espace membre | {{ parent() }}{% endblock %}

{% block body %}
    <h1>Espace membre</h1>
    <p>Vous êtes dans votre espace membre.</p>
{% endblock %}